/*
	andi 0.2 - mobile dev toolkit
	Written by Kendall Purser
	2015.03.04
	2016.02.11 (edit)
*/

/* Default styles (phone) */
body {
	margin: 0px;
	padding: 0px;
}

.nav, .footer{
	width: auto;
	height: 25px;
	font-size: 20px;
	color: #ffffff;
	background-color: #000000;
	padding: 5px;
}

.nav a, .footer a {
	margin: 0px 10px;
	text-decoration: none;
	color: #ffffff;
}

#links {
	z-index: 100;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	text-align: center;
}

#links a {
	display: block;
	margin: 10px;
	clear: both;
}

#links a:hover {
	text-decoration: underline;
}

.logo {
	height: 25px;
	float: left;
}

#menu {
	float: right;
	width: 30px;
	padding: 5px;
	margin-top: -5px;
	cursor: pointer;
}

#menu hr {
	margin: 5px 0px;
}


.footer {
	clear: both;
	width: auto;
	height: 25px;
	font-size: 14px;
	color: #ffffff;
	background-color: #000000;
	padding: 5px;
}

hr {
	clear:both;
	margin: 0px 5%;
}

.hide_phone {
	display: none;
}

/* grid styles */
.center {
	margin: 5% auto;
	display: block;
}

.row {
	width: auto;
	clear: both;
	margin: 3% auto;
}

.btn {
	background-color: #e7e7e7;
	padding: 15px;
	text-align: center;
	font-size: 30px;
	float: left;
	margin: 15px;
	border-radius: 30px;
}

#log {
	color: red;
	display : none;
	margin-top : 15px;
	padding: 15px;
	font-size : 30px;
	height : 150px;
	overflow : scroll;
	background-color : #e7e7e7;
	border-radius: 30px;
}

.cell, .cell25, .cell30, .cell50, .cell60, .cell75 {
	float: none;
	width: auto;
	padding: 3%;
}


/* bigger than a phone */
@media all and (min-width: 450px) {
	#links {
		display: block !important;
		float: right;
		background-color: none;
		height: 25px;
		width: auto;
		position: relative;
	}

	#links a {
		display: inline;
	}

	.show_phone {
		display: none !important;
	}

	.hide_phone {
		display: block;
	}

	.row img {
		margin-top: 10%;
	}

	.row {
		width: auto;
		clear: both;
		margin: 3% auto;
	}
	.cell {
		float: left;
		padding: 3%;
	}
	.cell25 {
		float: left;
		width: 19%;
		padding: 3%;
	}
	.cell30 {
		float: left;
		width: 24%;
		padding: 3%;
	}
	.cell50 {
		float: left;
		width: 44%;
		padding: 3%;
	}
	.cell60 {
		float: left;
		width: 54%;
		padding: 3%;
	}
	.cell75 {
		float: left;
		width: 69%;
		padding: 3%;
	}
}
@media all and (min-width: 1000px)  {
	.row {
		width: 1000px;
		clear: both;
		margin: 3% auto;
	}

	.row img {
		margin-top: auto;
	}
}